.header {
  padding: 30px 0;
}

.site-header {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  @include list-unstyled;
  display: flex;
  align-items: center;
}

.nav__item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  color: $light;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 500;
  transition: all ease 0.4s;

  &:hover {
    color: $light-blue;
  }
}

@include breakpoint-down(640px) {
  .site-header {
    flex-direction: column;
  }

  .nav {
    margin-top: 15px;
  }

  .site-hero__text {
    max-width: 100%;
  }
}
