.site-intro {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100vh;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-position: center;
  object-fit: cover;
  z-index: -1;
}

.site-hero {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.site-hero__title {
  font-size: 4.5em;
  line-height: 55px;
  font-weight: 400;
  color: $light;
  text-transform: uppercase;
}

.site-hero__text {
  margin-bottom: 30px;
  width: 600px;
  color: $light-blue;
  font-size: 2em;
  line-height: 32px;
}
