.travel {
  padding: 45px 0;
}

.travel-container {
  width: 100%;
  display: flex;

  &:nth-child(even) {
    flex-direction: row-reverse;
    text-align: left;
    margin-right: auto;
  }
}

.travel-container__left {
  padding: 40px;
  min-width: 30%;
  width: 30%;
  background-color: #f9f7f7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-arabic {
  background-image: url(../../assets/icons/arabic-logo.webp),
    url(../../assets/icons/plane.svg);
  background-repeat: no-repeat;
  background-size: 180px 140px, 250px 250px;
  background-position: top center, bottom left;
}

.left-text {
  background-image: url(../../assets/icons/arabic-text.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom right;
}

.left-deco {
  background-color: #354259;
  background-image: url(../../assets/icons/arabic-text2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom left;
}

.left-deco-item::before {
  background-color: $light-blue !important;
}

.left-deco-title {
  color: $light-blue !important;
}

.left-deco-text {
  color: $light !important;
}

.travel-container__right {
  min-width: 70%;
  width: 70%;
}

.travel-container__title {
  margin: 0;
  margin-bottom: 25px;
  color: $blue-color;
  font-size: 2.4em;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}

.info__title {
  margin: 0;
  margin-bottom: 5px;
  color: $blue-color;
  font-size: 1.5em;
  font-weight: 600;
  text-transform: capitalize;
}

.info__list {
  @include list-unstyled;
  margin-bottom: 45px;
}

.info__text {
  margin: 0;
  color: $dark;
  font-size: 1.5em;
  width: 100%;
}

.info__item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    margin-right: 15px;
    width: 6px;
    height: 6px;
    background-color: $blue-color;
    transform: rotate(45deg);
    content: "";
  }
}

.info__price {
  font-size: 3em;
  color: $dark-blue;
}

@include breakpoint-down(1240px) {
  .travel-container {
    flex-direction: column-reverse;

    &:nth-child(even) {
      flex-direction: column-reverse;
    }
  }

  .left-arabic {
    background: none;
  }

  .travel-container__left,
  .travel-container__right {
    width: 100%;
    max-width: 100%;
  }

  .card-image {
    height: 600px;
  }
}

@include breakpoint-down(820px) {
  .card-image {
    height: 400px;
  }
}

@include breakpoint-down(420px) {
  .card-image {
    height: 280px;
  }
}
